- unless @ride_uploaded_file.dry_run_completed
  %meta{:content => "5", "http-equiv" => "refresh"}

  %p SPINNER SPINNER SPINNER

%p
  %b Dry Run Completed:
  %span#dry_run_completed= @ride_uploaded_file.dry_run_completed ? "Dry Run Completed" : "Dry Run Not Completed"

- unless @ride_uploaded_file.dry_run_errors.nil?
  %h2= "#{pluralize(@dry_run_row_errors.count, "bad row")} prohibited this CSV from creating rides:"
  %ul
    - @dry_run_row_errors.each do |k, v|
      %li= "Row #{k}: #{v.join(", ")}"


